/******** Main Element Selectors ********/

* {
	padding:0;
	margin:0;
}

body {
	width: 100%;
	text-align: center;
	background-color: #404040;
	color: white;
	font-family: 'Trirong', serif;
}

.header {
	width: 100%;
	padding: 2%;
	margin-bottom: 1%;
	background-color: #000;
	border-bottom-style: solid;
	border-bottom-width: 10px;
	border-bottom-color: yellow;
}

.footer {
	width: 60%;
	height: auto;
	display: inline-block;
}

p {
	text-align: left;
	line-height: 1.5em;
	letter-spacing: 0.02em;
}

h2 {
	display: inline-block;
	margin: 1% 0 1% 0;
}

a {
	text-decoration: none;
}

.first-word{
	display: inline-block;
	font-family: 'Rubik Mono One', sans-serif; 
	font-size: 7em;
	background-color: inherit;
}

/******** API Element Selectors ********/

#apod_title {
	color: #FFE658;
}


#container {
	width: 100%;
}

#apod_img_id {
	display: inline-block;
	width: 62%;
	height: auto;
	border-radius: 20px;
	margin: 1%;
}

.explanation {
	display: inline-block;
	width: 60%;
	height: auto;
	border: 5px hidden;
	background-color: rgba(109, 189, 214, 0.2);
	border-radius: 10px;
	padding: 1%;
	text-indent: 40px;
}

#apod-explaination {
	display: block;
	text-align: left;
	margin: 1%;
}

/******** Footer Element Selectors ********/.footer img {
		vertical-align: middle;
		width: 10%;
		height: auto;
}

button {
	margin: 1%;
	padding: 1%;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

button p {
	display: inline;
}

button {
	font-family: 'Rubik Mono One', sans-serif; 
	font-size: 2em;
	color: #000;
}


/******** Lightbox Element Selectors ********/

#overlay {
	background: rgba(0,0,0,1);
	background-position: center;
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

#overlay img {
	margin-top: 10%;
	width: 100%;
	height: auto;
}

#overlay p {
	color: #FFE658;
	text-align: center;
	font-size: 2em;
	padding: 1%;

}

/******* Media Queries *******/

@media (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
	.first-word {
		font-size: 4em;
	}
	.second-word {
		font-size: 3em;
	} 
	#apod_title {
		font-size: 1.5em;
	}
	h2 {
		font-size: 1em;
	}
	#apod_img_id {
		width: 100%;
		height: auto;
		padding: 0;
		margin: 0;
	}
	.explanation {
		width: 90%;
		height: auto;
		font-size: 0.85em;
		background-color: inherit;
		border: none;
	}
	.footer {
		width: 100%;
		height: auto;
	}
	.footer img {
		width: 20%;
		height: auto;
	}

	button {
		display: block;
	}
}

@media (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
	.first-word {
		font-size: 4em;
	}
	.second-word {
		font-size: 3em;
	} 
	#apod_title {
		font-size: 1.5em;
	}
	h2 {
		font-size: 1em;
	}
	#apod_img_id {
		width: 100%;
		height: auto;
		padding: 0;
		margin: 0;
	}
	.explanation {
		width: 90%;
		height: auto;
		font-size: 1em;
		background-color: inherit;
		border: none;
	}
	.footer {
		width: 100%;
		height: auto;
	}
	.footer img {
		width: 20%;
		height: auto;
	}

button {
		display: block;
	}
}

@media (min-width: 480px) and (max-width: 768px) and (orientation: portrait) {
	.first-word {
		font-size: 4em;
	}
	.second-word {
		font-size: 3em;
	} 
	#apod_title {
		font-size: 1.5em;
	}
	h2 {
		font-size: 1em;
	}
	#apod_img_id {
		width: 100%;
		height: auto;
		padding: 0;
		margin: 0;
	}
	.explanation {
		width: 90%;
		height: auto;
		font-size: 1em;
		background-color: inherit;
		border: none;
	}
	.footer {
		width: 100%;
		height: auto;
	}
	.footer img {
		width: 15%;
		height: auto;
	}

	button {
		display: block;
	}
}

@media (min-width: 480px) and (max-width: 768px) and (orientation: landscape) {
	.first-word {
		font-size: 4em;
	}
	.second-word {
		font-size: 3em;
	} 
	#apod_title {
		font-size: 1.5em;
	}
	h2 {
		font-size: 1em;
	}
	#apod_img_id {
		width: 100%;
		height: auto;
		padding: 0;
		margin: 0;
	}
	.explanation {
		width: 90%;
		height: auto;
		font-size: 1em;
		background-color: inherit;
		border: none;
	}
	.footer {
		width: 100%;
		height: auto;
	}
	.footer img {
		width: 15%;
		height: auto;
	}

	button {
		display: block;
	}
}

@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
	.first-word {
		font-size: 7em;
	}
	.second-word {
		font-size: 6em;
	} 
	#apod_title {
		font-size: 3em;
	}
	h2 {
		font-size: 2em;
	}
	#apod_img_id {
		width: 100%;
		height: auto;
		padding: 0;
		margin: 0;
	}
	.explanation {
		width: 90%;
		height: auto;
		font-size: 1em;
	}
	.footer {
		width: 100%;
		height: auto;
	}
	.footer img {
		width: 10%;
		height: auto;
	}

}

@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
	.first-word {
		font-size: 7em;
	}
	.second-word {
		font-size: 6em;
	} 
	#apod_title {
		font-size: 3em;
	}
	h2 {
		font-size: 2em;
	}
	#apod_img_id {
		width: 100%;
		height: auto;
		padding: 0;
		margin: 0;
	}
	.explanation {
		width: 90%;
		height: auto;
		font-size: 1em;
	}
	.footer {
		width: 100%;
		height: auto;
	}
	.footer img {
		width: 10%;
		height: auto;
	}
}

@media (min-width: 992px) and (max-width: 1200px) and (orientation: portrait) {
	.first-word {
		font-size: 7em;
	}
	.second-word {
		font-size: 6em;
	} 
	#apod_title {
		font-size: 2em;
	}
	h2 {
		font-size: 2em;
	}
	#apod_img_id {
		width: 80%;
		height: auto;
		padding: 0;
		margin: 0;
	}
	.explanation {
		width: 80%;
		height: auto;
		font-size: 1em;
	}
	.footer {
		width: 80%;
		height: auto;
	}
	.footer img {
		width: 10%;
		height: auto;
	}
}

@media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
	.first-word {
		font-size: 7em;
	}
	.second-word {
		font-size: 6em;
	} 
	#apod_title {
		font-size: 2em;
	}
	h2 {
		font-size: 2em;
	}
	#apod_img_id {
		width: 80%;
		height: auto;
		padding: 0;
		margin: 0;
	}
	.explanation {
		width: 80%;
		height: auto;
		font-size: 1em;
	}
	.footer {
		width: 80%;
		height: auto;
	}
	.footer img {
		width: 10%;
		height: auto;
	}
  



@media (min-width: 1200px) and (max-width: 1500px) and (orientation: portrait) {
	.first-word {
		font-size: 7em;
	}
	.second-word {
		font-size: 6em;
	} 
	#apod_title {
		font-size: 2em;
	}
	h2 {
		font-size: 2em;
	}
	#apod_img_id {
		width: 80%;
		height: auto;
		padding: 0;
		margin: 0;
	}
	.explanation {
		width: 80%;
		height: auto;
		font-size: 2em;
	}
	.footer {
		width: 80%;
		height: auto;
	}
	.footer img {
		width: 10%;
		height: auto;
	}



@media (min-width: 1200px) and (max-width: 1500px) and (orientation: landscape) {
	.first-word {
		font-size: 7em;
	}
	.second-word {
		font-size: 6em;
	} 
	#apod_title {
		font-size: 2em;
	}
	h2 {
		font-size: 2em;
	}
	#apod_img_id {
		width: 80%;
		height: auto;
		padding: 0;
		margin: 0;
	}
	.explanation {
		width: 80%;
		height: auto;
		font-size: 2em;
	}
	.footer {
		width: 80%;
		height: auto;
	}
	.footer img {
		width: 10%;
		height: auto;
	}

