/******** Main Element Selectors ********/

* {
	padding:0;
	margin:0;
}

body {
	width: 100%;
	text-align: center;
	background-color: #404040;
	color: white;
	font-family: 'Trirong', serif;
}

.header {
	width: 100%;
	padding: 2%;
	margin-bottom: 1%;
	background-color: #000;
	border-bottom-style: solid;
	border-bottom-width: 10px;
	border-bottom-color: yellow;
}

.footer {
	width: 60%;
	height: auto;
	display: inline-block;
}

p {
	text-align: left;
	line-height: 1.5em;
	letter-spacing: 0.02em;
}

h2 {
	display: inline-block;
	margin: 1% 0 1% 0;
}

a {
	text-decoration: none;
}

.first-word{
	display: inline-block;
	font-family: 'Rubik Mono One', sans-serif; 
	font-size: 7em;
	background-color: inherit;
}


button {
	margin: 1%;
	padding: 1%;
	color: #FFE658;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

button p {
	display: inline;
}

button {
	font-family: 'Rouge Script', cursive;
	font-size: 2em;
	color: #FFE658;
}


/******** API Element Selectors ********/


#container {
	width: 100%;
}

#people-list {
	display: inline-block;
	width: 60%;
	height: auto;
	border: 5px hidden;
	background-color: rgba(109, 189, 214, 0.2);
	border-radius: 10px;
	padding: 1%;
	text-indent: 40px;
  text-align: left;
  margin: 1%;
}



/******* Media Queries *******/

@media (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
	.first-word {
		font-size: 4em;
	}
	 
	
	h2 {
		font-size: 1em;
	}
  
	#people-list {
		width: 90%;
		height: auto;
		font-size: 0.85em;
		background-color: inherit;
		border: none;
	}
}

@media (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
	.first-word {
		font-size: 4em;
	}
  
	h2 {
		font-size: 1em;
	}
  
  #people-list {
		width: 90%;
		height: auto;
		font-size: 1em;
		background-color: inherit;
		border: none;
	}
}

@media (min-width: 480px) and (max-width: 768px) and (orientation: portrait) {
	.first-word {
		font-size: 4em;
	}
 
	h2 {
		font-size: 1em;
	}
	
	#people-list {
		width: 90%;
		height: auto;
		font-size: 1em;
		background-color: inherit;
		border: none;
	}
}

@media (min-width: 480px) and (max-width: 768px) and (orientation: landscape) {
	.first-word {
		font-size: 4em;
	}
  
	h2 {
		font-size: 1em;
	}
  
	#people-list {
		width: 90%;
		height: auto;
		font-size: 1em;
		background-color: inherit;
		border: none;
	}
}

@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
	.first-word {
		font-size: 7em;
	}
  
	h2 {
		font-size: 2em;
	}
	#people-list {
		width: 90%;
		height: auto;
		font-size: 1em;
	}
}

@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
	.first-word {
		font-size: 7em;
	}
	
	h2 {
		font-size: 2em;
	}
	
#people-list {
		width: 90%;
		height: auto;
		font-size: 1em;
	}
}

@media (min-width: 992px) and (max-width: 1200px) and (orientation: portrait) {
	.first-word {
		font-size: 7em;
	}
	
	h2 {
		font-size: 2em;
	}
	
	#people-list {
		width: 80%;
		height: auto;
		font-size: 1em;
	}
}

@media (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
	.first-word {
		font-size: 7em;
	}
	
	h2 {
		font-size: 2em;
	}
	
	#people-list {
		width: 80%;
		height: auto;
		font-size: 1em;
	}
}

@media (min-width: 1200px) and (max-width: 1500px) and (orientation: portrait) {
	.first-word {
		font-size: 7em;
	}
	
	h2 {
		font-size: 2em;
	}
	
	#people-list {
		width: 80%;
		height: auto;
		font-size: 2em;
	}
}

@media (min-width: 1200px) and (max-width: 1500px) and (orientation: landscape) {
	.first-word {
		font-size: 7em;
	}
	
	h2 {
		font-size: 2em;
	}
	
	#people-list {
		width: 80%;
		height: auto;
		font-size: 2em;
	}
}
